ul,
li {
  list-style: none;
  margin: 0;
}

a {
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.copyright-msg {
  margin-top: 3rem;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  width: 50rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  width: 120rem;
  min-height: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.content-header {
  margin-top: 5rem;
  padding-top: 10rem;
  width: 100%;
  height: 6rem;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: #181818;
}

.content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-nav li {
  font-size: 2.5rem;
  margin-right: 2rem;
  margin-left: 1rem;
}
.content-nav li:last-child {
  color: red;
}

.content-views {
  margin-top: 3rem;
  font-size: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.content-views span:first-child {
  margin-right: 3rem;
}
.content-views span:last-child {
  margin-left: 3rem;
}

.content-desc {
  margin-top: 3rem;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  border-bottom: 1px gray solid;
}

.authors-title {
  font-size: 3.6rem;
  font-weight: bold;
  width: 58rem;
  height: 34rem;
  background-color: #181818;
  color: #eee;
  border-bottom-right-radius: 15rem;
  padding-top: 3rem;
}
.authors-title span:first-child {
  margin-left: 5rem;
}
.author-cate {
  margin-left: 4rem;
  width: 50rem;
  /* background-color: #ff9e4e; */
  height: 30rem;
}

.authors-box {
  padding-top: 8rem;
  margin-top: 3rem;
  min-height: 5rem;
  line-height: 5rem;
  position: relative;
  display: flex;
}

.authors-name {
  width: 30%;
  height: 15rem;
  background-color: #181818;
  font-size: 28px;
  font-weight: bold;
  color: #eeeeee;
  text-align: center;
  line-height: 15rem;
}

.authors-desc {
  width: 65%;
  height: 11rem;
  background-color: #eeeeee;
  color: #181818;
  font-size: 16px;
  padding: 20px 30px;
}

.artist-header {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  padding-top: 8rem;
  margin-right: 3rem;
  /* margin-top: ; */
}
.author-img {
  width: 29rem;
  height: 37rem;
  position: absolute;
  top: 22rem;
  left: 9rem;
}
.author-header {
  font-size: 1.9rem;
  font-weight: 900;
}
.author-desc {
  color: #666666;
  width: 57rem;
  max-height: 11rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4rem;
}
.author-sns {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: bolder;
}
.author-sns-header {
  display: flex;
}
.author-sns-list {
  font-size: 1.8rem;
  margin-right: 1rem;
}
/* .name {
  font-size: 3.6rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.name:first-child {
  margin-left: 0;
} */

/* .last-list {
  margin-right: 10rem;
} */

.thumbnail-title,
.works-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.thumbnail-box {
  margin-top: 10rem;
  position: relative;
  margin-bottom: 8rem;
}

.thumbnail-img {
  margin-top: 20rem;
  width: 120rem;
  height: 67rem;
  background-repeat: no-repeat;
  background-size: 120rem 67rem;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
  margin-right: auto;
  margin-left: auto;
}
.thumbnail-content {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: 50rem;
  min-height: 2rem;
}

.thumbnail-content-title {
  color: white;
  font-size: 1.8rem;
}
.thumbnail-content-author {
  color: white;
  font-size: 1.4rem;
}
.thumbnail-content-view {
  color: white;
  font-size: 1.4rem;
}

.works-container {
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  padding-bottom: 3rem;
}

.works-box {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 10rem;
}

.works-title {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  padding-top: 7rem;
  margin-right: 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  line-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 1;
  background-color: #000;
}
.navbar-list {
  font-size: 1.8rem;
  margin-left: 2.5rem;
  font-weight: 500;
  margin-right: 8rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.onit {
  transition: 0.2s;
  color: #ff9e4e;
}

.img-hover {
  width: 23rem;
  height: 23rem;
  line-height: 10rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-right: 3rem;
  margin-bottom: 6rem;
  transition: 0.2s;
  border-radius: 15px;
}
.hover-title {
  margin-top: 4rem;
  font-size: 2rem;
  height: 4rem;
  font-weight: 500;
}
.hover-author {
  font-size: 1.6rem;
  font-weight: 300;
}

.upBtn {
  position: fixed;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  right: 5rem;
  bottom: 5rem;
  cursor: pointer;
}

.noname {
  font-size: 2rem;
}

.img-list {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
}

/* .works-img .shadow-swhow-mini {
  background-color: rgba(19, 30, 33, 0.4);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.works-img:hover .shadow_swhow_mini {
  background-color: rgba(16, 23, 41, 0);
}

.works-img .deroul_titre {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto";
  padding: 7px;
  z-index: 1000;
  top: 60%;
  left: -80%;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.works-img:hover .deroul_titre {
  background-color: #1e4944;
  left: 0px;
}
.works-img .deroul_soustitre {
  position: absolute;
  font-family: "Roboto";
  padding: 5px;
  z-index: 1000;
  top: 60%;
  right: -85%;
  margin-top: 25px;
  color: #ffffff;
  font-weight: 300;
  font-size: 11px;
  width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.works-img:hover .deroul_soustitre {
  background-color: #417c74;
  right: 0px;
} */

.works-img {
  width: 23rem;
  height: 23rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
  transition: 0.4s;
}

/* .works-img:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
} */

@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1193 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 280px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1193 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1193 img {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
}
figure.snip1193 figcaption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 12px 5px;
  position: absolute;
}
figure.snip1193 h4,
figure.snip1193 i {
  color: #ffffff;
}
figure.snip1193 h4 {
  font-weight: 400;
  left: 0;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

figure.snip1193 span {
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

figure.snip1193 .bottom-left {
  position: absolute;
  bottom: 35px;
  opacity: 0;
}

figure.snip1193 .bottom-left {
  left: 7rem;
  bottom: 9rem;
  -webkit-transform: translate(10%, 0%);
  transform: translate(10%, 0%);
}

figure.snip1193:hover img,
figure.snip1193.hover img {
  opacity: 0.6;
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
}
figure.snip1193:hover h4 {
  opacity: 0.4;
}
figure.snip1193:hover figcaption .bottom-left,
figure.snip1193.hover figcaption .bottom-left
/* figure.snip1193:hover figcaption .bottom-right,
figure.snip1193.hover figcaption .bottom-right  */ {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.modal-low-text {
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  text-align: right;
}

.head-title {
  /*background-color: rgb(0, 0, 0); /* Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: black;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 18rem;
  padding: 20px;
  text-align: center;
  font-size: 6rem;
  line-height: 12rem;
}
.header-container {
}
.video-container {
  width: 100%;
  height: 70rem;
  /* background-color: aqua; */
  overflow: hidden;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: -4;
}
.video-container img {
  width: 100%;
  height: 100%;
}

.unity-play {
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 35%;
  left: 48%;
}
.play-btn {
  cursor: pointer;
}

.mnone {
  /* display: none; */
  transition: 0.4s;
  opacity: 0;
  left: 500rem;
  top: 40rem;
}

.none {
  z-index: 1000;
  opacity: 0;
  transition: 0.2s;
}

.infomodal {
  width: 50rem;
  margin-left: 6rem;

  /* position: absolute; */
  /* left: 142rem; */
  /* top: 30rem; */
  /* z-index: 7000; */
  /* font-size: 1.5rem; */
  /* color: black; */
  /* transition: ease-in 0.6s; */
  /* width: 29rem; */
  /* min-height: 21rem; */
  /* background-color: cornsilk; */
  /* opacity: 1; */
  /* overflow: auto; */
  /* width: 40rem; */
  /* border-radius: 1rem; */
  /* padding: 0.5rem; */
}
.piece-title {
  width: 100%;
  height: 7rem;
  font-size: 3.8rem;
  box-sizing: border-box;
  margin-top: 3rem;
  font-weight: bold;
}

.piece-desc {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: #666666;
}
.piece-author-name {
  font-size: 1.8rem;
  font-weight: bold;
}
.piece-desc-header {
  margin-top: 8rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.infomodal-close-btn {
  width: 100%;
  display: flex;
  justify-content: right;
}
.infomodal-close-btn-icon {
  color: white;
  transition: 0.3s;
  background-color: black;
  text-align: center;
  cursor: pointer;
  float: right;
  font-size: 2.5rem;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.infomodal-close-btn-icon:hover {
  transition: 0.3s;
  background-color: white;
  color: black;
  transform: scale(1.2);
}

.modal-image {
  width: 60rem;
  height: 60rem;
  margin-top: 2rem;
  position: relative;
  /* background-image: ; */
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-image img {
  width: 100%;
  height: 100%;
}
/* .modal-image {
  width: 60rem;
  height: 60rem;
  margin-top: 2rem;
  position: relative;
} */
.imgmodal-btn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  color: white;
  background-color: black;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  right: 0;
  bottom: 0;
  transition: 0.2s;
  overflow: hidden;
}
.imgmodal-btn:hover {
  cursor: pointer;
  transition: 0.2s;
  font-size: 3.5rem;
}

.imgmodal-img {
  margin-bottom: 7rem;
  position: relative;
  width: 94rem;
  height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgmodal-img img {
  width: 100%;
  height: 100%;
}

.imgmodal-img-title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3.4rem;
  font-weight: bold;
}
.imgmodal-img-author {
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 1.8rem;
}

.imgmodal-close-btn-icon {
  position: absolute;
  right: -6rem;
  top: 2rem;
  color: white;
  transition: 0.3s;
  background-color: #666666;
  text-align: center;
  cursor: pointer;
  float: right;
  font-size: 2.5rem;
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.imgmodal-close-btn-icon:hover {
  transition: 0.2s;
  background-color: black;
}

.slick-list {
  height: 37rem;
}

.slider-box {
  width: 100%;
  height: 1rem;
  /* padding-bottom: 30rem; */
  overflow: visible;
  /* margin-top: 14rem; */
}
.slick-next.slick-arrow {
  right: -4rem;
}
.slick-next,
.slick-prev {
  background-color: transparent;
}

/* mobile version */
@media (max-width: 375px) {
  /* .video-container {
    width: auto;
  } */
  .content-header {
    margin-left: 1rem;
    /* width: auto; */
  }
  .content-desc {
    margin-left: 1rem;
    /* width: auto; */
  }
  .slick-prev {
    margin-left: 5rem;
  }
  .slick-next {
    margin-right: 5rem;
  }
  .header-container {
    width: 120rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .head-title {
    margin-top: 6rem;
  }
  .unity-play {
    margin-top: 3rem;
  }
}
